<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="br.com.squadra.bolaocorporativo.android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="BolaoCorporativo.Android"></application>
</manifest>